.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.featured h1 {
  margin: 0;
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 16px;
  color: #121212;
}

.featured .featured-svg {
  font-size: 40px;
  margin: 0;
  margin-bottom: 100px;
}

.featured .featured-svg .a {
  fill: none;
  stroke: #d1d1d1;
}

.featured .featured-svg .b {
  fill: #de7338;
  font-size: 20px;
  font-family: Helvetica-Bold, Helvetica;
  font-weight: 700;
}

.featured .featured-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .featured-area .pointer-svg-left, .featured .featured-area .pointer-svg-right {
  height: 80px;
  width: auto;
  margin: 0px 40px 0px 40px;
}

.featured .featured-area .pointer-svg-left .a, .featured .featured-area .pointer-svg-right .a {
  fill: #f1f1f1;
  stroke: #fff;
  stroke-width: 8px;
}

.featured .featured-area .pointer-svg-left {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.featured .featured-image-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured .featured-image-area .sale {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 54px;
  height: 54px;
  background-color: #DE7338;
}

.featured .featured-image-area .sale p {
  margin: 0;
  font-size: 12px;
  color: white;
}

.featured .featured-image-area img {
  width: 250px;
  height: auto;
  margin: 0px 40px 0px 40px;
}

.featured .featured-image-area .image-pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.featured .featured-image-area .image-svg {
  padding: 1px;
}

.featured .featured-image-area .image-svg .a, .featured .featured-image-area .image-svg .c {
  fill: none;
}

.featured .featured-image-area .image-svg .a {
  stroke: #d1d1d1;
  stroke-width: 2px;
}

.featured .featured-image-area .image-svg .b {
  stroke: none;
}

.featured .featured-info-title {
  color: #121212;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.featured .featured-review {
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
}

.featured .featured-price {
  color: #000000;
  font-size: 32px;
  margin: 0;
  margin-bottom: 26px;
}

.featured .featured-discount {
  font-style: italic;
  text-decoration: line-through;
  color: #666666;
  font-size: 20px;
  margin: 0;
}

.featured .featured-info-list {
  list-style: none;
  padding: 0;
  margin-bottom: 26px;
}

.featured .featured-info-list .featured-list {
  color: #666666;
  font-size: 16px;
}

.featured .read-more {
  color: #DE7338;
  text-decoration: none;
}

.featured-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.featured-buttons .cart {
  width: auto;
  height: 40px;
  color: white;
  background-color: #DE7338;
  border: 1px solid #DE7338;
  border-radius: 25px;
  padding: 0px 24px 0px 24px;
  margin-right: 10px;
  outline: none;
  white-space: nowrap;
}

.featured-buttons .wishlist {
  width: auto;
  height: 40px;
  color: #131313;
  background-color: white;
  border: 1px solid #131313;
  border-radius: 25px;
  padding: 0px 24px 0px 24px;
  outline: none;
  white-space: nowrap;
}

.featured-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 66px;
}

@media screen and (max-width: 960px) {
  .featured-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .featured-image-area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured-info-list {
    display: none;
  }
  .featured-buttons {
    margin-bottom: 10px;
  }
  .featured {
    height: 680px;
  }
  .featured h1 {
    font-size: 19px;
    margin-top: 20px;
  }
  .featured .featured-svg {
    margin-bottom: 20px;
  }
  .featured .featured-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured .featured-area .pointer-svg-left, .featured .featured-area .pointer-svg-right {
    height: 40px;
    width: auto;
    margin: 0px 5px 0px 5px;
  }
  .featured .featured-area .pointer-svg-left .a, .featured .featured-area .pointer-svg-right .a {
    fill: #f1f1f1;
    stroke: #fff;
    stroke-width: 8px;
  }
  .featured .featured-area .pointer-svg-left {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
/*# sourceMappingURL=Featured.css.map */