//CSS for Info component
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.hero-info{
    box-sizing: border-box;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    padding: 1em;
    padding-bottom: 10em;
    h1{
        margin: 0;
        font-size: 40px;
        margin-top: 80px;
        margin-bottom: 16px;
        color: #121212;
    }
    .hero-svg{
        font-size: 40px;
        margin: 0;
        margin-bottom: 100px;
        .a{
            fill:none;
            stroke:#d1d1d1;
        }
        .b{
            fill:#de7338;
            font-size:20px;
            font-family:Helvetica-Bold, Helvetica;
            font-weight:700;
        }
    }
    .hero-info-main{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 2em;
    }
    .hero-info-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 40vw;
        .hero-info-svgs{
            height: 80px;
            width: auto;
            .a{
                fill:none;
            }
            .b{
                clip-path:url(#a);
            }
            .c{fill:#de7338;
            }
        }
        .hero-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.5em;
        }
        h1{
            font-size: 20px;
            margin: 0;
            margin-bottom: 10px;
            color: #121212;
        }
        p{
            margin: 0;
            font-size: 16px;
            color: #666666;
        }
        
    }
}
@media screen and (max-width: 960px) {
    .hero-info{
        display: none;
    }
  }
  