//CSS for Quote component
.quote{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    background-color: #DE7338;
    padding: 80px 50px 80px 50px;

    .pointer-svg-left, .pointer-svg-right{
        height: 150px;
        width: auto;
        margin: 0px 40px 0px 40px;
        .a{
            fill:#f1f1f1;
            stroke:#de7338;
            stroke-width:8px;
            opacity:0.2;
        }
    }
    .pointer-svg-left{
        transform: rotateY(180deg);
    }
    .image-svg{
        padding: 1px;
        .a,.c{
            fill:none;
        }
        .a{
            stroke:#d1d1d1;
            stroke-width:2px;
        }
        .b{
            stroke:none;
        }
    }
    .image-svgs{
        .a{
            fill:#fff;
        }
    }
    .quote-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 150px 0px 150px;

        img{
            width: 92px;
            height: 92px;
            border: 6px solid rgb(241,198,175);
            border-radius: 100%;
            margin-bottom: 20px;
        }
        h1{
            font-size: 14px;
            color: white;
            margin: 0;
            margin-bottom: 4px;
        }
        h3{
            font-size: 12px;
            color: white;
            margin:0;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
            color: white;
            line-height: 2;
            margin-bottom: 100px;
        }
    }
}
@media screen and (max-width: 960px) {
    .quote{
        height: 400px;
        padding: 50px 25px 50px 25px;
    
        .pointer-svg-left, .pointer-svg-right{
            display: none;
        }
        .quote-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
    
            p{
                text-align: center;
                font-size: 12px;
                color: white;
                line-height: 2;
                margin-bottom: 40px;
            }
        }
    }
}